<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h5>Welcome <%=username%></h5></div>
            <div class="col-md-8"><a href="/logout"><button class="btn btn-success">Logout</button></a>
            <a href="/profileupdate"><button class="btn btn-danger me-2">profile update</button></a>
           
            <a href="/allBlogs"><button class="btn btn-success me-2">All Blogs</button></a>
            <a href="/myBlogs"><button class="btn btn-success me-2">My Blogs</button></a>
          
            <a href="/profiles"><button class="btn btn-info me-2">All profiles</button></a>
            <%if(username=='admin@gmail.com'){%>
            <a href="/admin/dashboard"><button class="btn btn-info me-2">Dashboard</button></a>
            <%}%>
        </div>
          
        </div>
    </div>
</section>